<a href="https://colab.research.google.com/github/Thahira8/sample-project/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
#1
arr = np.arange(10, 50)
reshaped_arr = arr.reshape(4, 10)
last_column = reshaped_arr[:, -1]
print("Reshaped Matrix:\n", reshaped_arr)
print("\nLast Column:\n", last_column)

Reshaped Matrix:
 [[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]]

Last Column:
 [19 29 39 49]

In [ ]:
#2
matrix_5s = np.full((3, 3), 5)
matrix_1_to_9 = np.arange(1, 10).reshape(3, 3)
sum_matrix = matrix_5s + matrix_1_to_9
product_matrix = matrix_5s * matrix_1_to_9
transpose_product = product_matrix.T
print("Matrix of 5s:\n", matrix_5s)
print("\nMatrix 1 to 9:\n", matrix_1_to_9)
print("\nSum:\n", sum_matrix)
print("\nElement-wise Product:\n", product_matrix)
print("\nTranspose of Product:\n", transpose_product)

Matrix of 5s:
 [[5 5 5]
 [5 5 5]
 [5 5 5]]

Matrix 1 to 9:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

Sum:
 [[ 6  7  8]
 [ 9 10 11]
 [12 13 14]]

Element-wise Product:
 [[ 5 10 15]
 [20 25 30]
 [35 40 45]]

Transpose of Product:
 [[ 5 20 35]
 [10 25 40]
 [15 30 45]]

In [ ]:
#3
arr = np.random.randint(10, 101, size=15)
replaced_arr = arr.copy()
replaced_arr[replaced_arr > 50] = -1
count_replaced = np.sum(arr > 50)
print("Original Array:\n", arr)
print("\nModified Array:\n", replaced_arr)
print("\nNumber of values replaced:", count_replaced)

Original Array:
 [46 68 37 92 41 13 90 41 91 54 69 95 72 82 41]

Modified Array:
 [46 -1 37 -1 41 13 -1 41 -1 -1 -1 -1 -1 -1 41]

Number of values replaced: 9

In [ ]:
#4
import numpy as np
array = np.random.rand(5, 4)
print("Original Array:\n", array)
row_sums = np.sum(array, axis=1)
max_row_index = np.argmax(row_sums)
print("\nRow with maximum sum is at index:", max_row_index)
print("Maximum sum value:", row_sums[max_row_index])
print("Row with max sum:", array[max_row_index])

normalized_array = np.zeros_like(array)

for i in range(array.shape[0]):
    row = array[i]
    row_min = np.min(row)
    row_max = np.max(row)
    normalized_array[i] = (row - row_min) / (row_max - row_min)

print("\nNormalized Array:\n", normalized_array)

Original Array:
 [[0.05760573 0.58178744 0.34115014 0.82431829]
 [0.60061205 0.46092778 0.75353999 0.21538508]
 [0.87041542 0.63502067 0.49192066 0.23204974]
 [0.27281226 0.04931689 0.19000765 0.97632375]
 [0.82143775 0.81784848 0.25184359 0.73707191]]

Row with maximum sum is at index: 4
Maximum sum value: 2.6282017378941505
Row with max sum: [0.82143775 0.81784848 0.25184359 0.73707191]

Normalized Array:
 [[0.         0.68367435 0.3698184  1.        ]
 [0.71582915 0.45626769 1.         0.        ]
 [1.         0.63125406 0.40708786 0.        ]
 [0.24109354 0.         0.15176884 1.        ]
 [1.         0.99369855 0.         0.8518843 ]]

In [ ]:
#5
arr = np.array([1, 3, 5, 3, 7, 9, 1, 5, 5])

unique, counts = np.unique(arr, return_counts=True)


duplicates = unique[counts > 1]
print("Duplicate elements:", duplicates)

Duplicate elements: [1 3 5]

In [ ]:
#6
array = np.arange(1, 37).reshape(6, 6)
print("Original 6x6 Array:\n", array)
submatrix_4x4 = array[1:5, 1:5]
print("\nMiddle 4x4 Submatrix:\n", submatrix_4x4)
even_numbers = submatrix_4x4[submatrix_4x4 % 2 == 0]
print("\nEven numbers in the submatrix:\n", even_numbers)

Original 6x6 Array:
 [[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]
 [25 26 27 28 29 30]
 [31 32 33 34 35 36]]

Middle 4x4 Submatrix:
 [[ 8  9 10 11]
 [14 15 16 17]
 [20 21 22 23]
 [26 27 28 29]]

Even numbers in the submatrix:
 [ 8 10 14 16 20 22 26 28]

In [ ]:
#7
array = np.arange(12).reshape(3, 4)
print("Original (3,4) Array:\n", array)
reshaped_2x6 = array.reshape(2, 6)
print("\nReshaped to (2,6):\n", reshaped_2x6)
flattened = reshaped_2x6.flatten()
print("\nFlattened 1D Array:\n", flattened)
reshaped_4x3 = flattened.reshape(4, 3)
print("\nReshaped back to (4,3):\n", reshaped_4x3)

Original (3,4) Array:
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

Reshaped to (2,6):
 [[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]

Flattened 1D Array:
 [ 0  1  2  3  4  5  6  7  8  9 10 11]

Reshaped back to (4,3):
 [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [ ]:
#8
a = np.array([[1, 2], [3, 4]])
print("Original array:\n", a)

a = np.vstack([a, [5, 6]])
print("After adding row [5, 6]:\n", a)

new_col = np.array([[7], [8], [9]])
a = np.hstack([a, new_col])
print("After adding column [7, 8, 9]:\n", a)

Original array:
 [[1 2]
 [3 4]]
After adding row [5, 6]:
 [[1 2]
 [3 4]
 [5 6]]
After adding column [7, 8, 9]:
 [[1 2 7]
 [3 4 8]
 [5 6 9]]

In [ ]:
#9
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.array([7, 8, 9])

combined = np.concatenate([a, b, c])
print("Combined array:\n", combined)


matrix = combined.reshape(3, 3)
print("Reshaped 3x3 matrix:\n", matrix)

diagonal = np.diag(matrix)
print("Diagonal elements:\n", diagonal)

Combined array:
 [1 2 3 4 5 6 7 8 9]
Reshaped 3x3 matrix:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Diagonal elements:
 [1 5 9]

In [ ]:
#10
arr = np.arange(1, 21)
print("Original array:\n", arr)

filtered = arr[(arr % 3 == 0) | (arr % 5 == 0)]
print("Values divisible by 3 or 5:\n", filtered)

count = filtered.size
print("Count of values divisible by 3 or 5:", count)

Original array:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Values divisible by 3 or 5:
 [ 3  5  6  9 10 12 15 18 20]
Count of values divisible by 3 or 5: 9

In [ ]:
import pandas as pd

In [ ]:
import seaborn as sns
data = sns.load_dataset('titanic')
data.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [ ]:
data.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
average_age = data['age'].mean()
median_age = data['age'].median()
std_age = data['age'].std()

print(f"Average age: {average_age}")
print(f"Median age: {median_age}")
print(f"Standard deviation of age: {std_age}")

Average age: 29.69911764705882
Median age: 28.0
Standard deviation of age: 14.526497332334044

In [ ]:
class_percentages = data['survived'].value_counts(normalize=True) * 100
print(class_percentages)

survived
0    61.616162
1    38.383838
Name: proportion, dtype: float64

In [ ]:
survived_by_gender = data.groupby('sex')['survived'].value_counts(normalize=True).mul(100).unstack()
print(survived_by_gender)

survived          0          1
sex
female    25.796178  74.203822
male      81.109185  18.890815

In [ ]:
pclass_counts = data['pclass'].value_counts()
pclass_counts

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [40]:
female = data[(data['gender'] == 'female') & (data['age'] < 18) & (data['survived'] == 1)]
display(female)

,survived,pclass,gender,age,sibsp,parch,ticket_fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,is_child,is_adult,age_group
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False,True,False,Child
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False,True,False,Child
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True,True,False,Child
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False,True,False,Child
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False,True,False,Child
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False,True,False,Child
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False,True,False,Child
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True,True,False,Child
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True,True,False,Child
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False,True,False,Child
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False,True,False,Child
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True,True,False,Child
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False,True,False,Child
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False,True,False,Child
307,1,1,female,17.00,1,0,108.9000,C,First,woman,False,C,Cherbourg,yes,False,True,False,Child
329,1,1,female,16.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False,True,False,Child
381,1,3,female,1.00,0,2,15.7417,C,Third,child,False,NaN,Cherbourg,yes,False,True,False,Child
389,1,2,female,17.00,0,0,12.0000,C,Second,woman,False,NaN,Cherbourg,yes,True,True,False,Child
435,1,1,female,14.00,1,2,120.0000,S,First,child,False,B,Southampton,yes,False,True,False,Child
446,1,2,female,13.00,0,1,19.5000,S,Second,child,False,NaN,Southampton,yes,False,True,False,Child
448,1,3,female,5.00,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False,True,False,Child
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False,True,False,Child
479,1,3,female,2.00,0,1,12.2875,S,Third,child,False,NaN,Southampton,yes,False,True,False,Child
504,1,1,female,16.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True,True,False,Child
530,1,2,female,2.00,1,1,26.0000,S,Second,child,False,NaN,Southampton,yes,False,True,False,Child
535,1,2,female,7.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False,True,False,Child
618,1,2,female,4.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False,True,False,Child
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False,True,False,Child
689,1,1,female,15.00,0,1,211.3375,S,First,child,False,B,Southampton,yes,False,True,False,Child
691,1,3,female,4.00,0,1,13.4167,C,Third,child,False,NaN,Cherbourg,yes,False,True,False,Child
720,1,2,female,6.00,0,1,33.0000,S,Second,child,False,NaN,Southampton,yes,False,True,False,Child
750,1,2,female,4.00,1,1,23.0000,S,Second,child,False,NaN,Southampton,yes,False,True,False,Child
777,1,3,female,5.00,0,0,12.4750,S,Third,child,False,NaN,Southampton,yes,True,True,False,Child
780,1,3,female,13.00,0,0,7.2292,C,Third,child,False,NaN,Cherbourg,yes,True,True,False,Child
781,1,1,female,17.00,1,0,57.0000,S,First,woman,False,B,Southampton,yes,False,True,False,Child
830,1,3,female,15.00,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,yes,False,True,False,Child
853,1,1,female,16.00,0,1,39.4000,S,First,woman,False,D,Southampton,yes,False,True,False,Child
875,1,3,female,15.00,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True,True,False,Child

In [ ]:
median__age = data['age'].median()
data['age'].fillna(median_age, inplace=True)
display(data.head())

/tmp/ipython-input-24-4107642811.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['age'].fillna(median_age, inplace=True)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
data['is_child'] = data['age'] < 18
display(data.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,is_child
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,False

In [ ]:
data['is_adult'] = (data['age'] > 60)
data['is_adult'] = (data['age'] <18 )
display(data.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,is_child,is_adult
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,False,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,False,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,False,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,False,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,False,False

In [ ]:
data['is_adult'] = (data['age'] >60 )
display(data.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,is_child,is_adult
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,False,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,False,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,False,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,False,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,False,False

In [38]:
import numpy as np
data['age_group'] = np.where(data['age'] < 18, 'Child',
                            np.where(data['age'] < 60, 'Adult', 'Senior'))
display(data.head())

,survived,pclass,gender,age,sibsp,parch,ticket_fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,is_child,is_adult,age_group
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,False,False,Adult
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,False,False,Adult
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,False,False,Adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,False,False,Adult
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,False,False,Adult

In [29]:
top_5 = data.sort_values(by='fare', ascending=False).head(5)
display(top_5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,is_child,is_adult,age_group
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False,False,False,Adult
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True,False,False,Adult
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True,False,False,Adult
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False,False,False,Adult
438,0,1,male,64.0,1,4,263.0000,S,First,man,True,C,Southampton,no,False,False,True,Senior

In [32]:
average_fare = data.groupby(['pclass', 'sex'])['fare'].mean()
display(average_fare)

pclass  sex
1       female    106.125798
        male       67.226127
2       female     21.970121
        male       19.741782
3       female     16.118810
        male       12.661633
Name: fare, dtype: float64

In [33]:
data.rename(columns={'sex': 'gender'}, inplace=True)
display(data.head())

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,is_child,is_adult,age_group
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,False,False,Adult
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,False,False,Adult
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,False,False,Adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,False,False,Adult
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,False,False,Adult

In [34]:
data.rename(columns={'fare': 'ticket_fare'}, inplace=True)
display(data.head())

,survived,pclass,gender,age,sibsp,parch,ticket_fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,is_child,is_adult,age_group
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,False,False,Adult
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,False,False,Adult
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,False,False,Adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,False,False,Adult
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,False,False,Adult

In [35]:
survived = data.groupby(['pclass', 'survived']).size().unstack()
display(survived)

survived    0    1
pclass
1          80  136
2          97   87
3         372  119

In [36]:
average = data.groupby(['class', 'gender'])['age'].mean()
display(average_age)

/tmp/ipython-input-36-765028640.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average = data.groupby(['class', 'gender'])['age'].mean()

np.float64(29.69911764705882)